---
- name: Install zsh
  become: yes
  apt:
    name: "zsh"

- name: Install fancy fonts for zsh
  become: yes
  apt:
    name: "fonts-powerline"

- name: Get zsh installed path.
  shell: "command -v zsh"
  register: omz_zsh_installed_path
  changed_when: false

- name: Set user shell to zsh.
  become: yes
  user:
    name: "{{ omz_user }}"
    shell: "{{ omz_zsh_installed_path.stdout }}"

- name: Set right omz path in .zshrc
  replace:
    path: ~/.zshrc
    regexp: "marc"
    replace: "{{ omz_user }}"
  
- name: Check if .oh-my-zsh exists
  stat:
    path: ~/.oh-my-zsh
  register: stat_oh_my_zsh_result

- name: Cloning oh-my-zsh
  git:
    repo: https://github.com/robbyrussell/oh-my-zsh
    dest: ~/.oh-my-zsh
  when: not stat_oh_my_zsh_result.stat.exists