---
- name: Add strawberry repository from PPA and install its signing key on Ubuntu target
  apt_repository:
    repo: ppa:jonaski/strawberry
    state: present
    update_cache: true

- name: Install strawberry
  apt:
    name: "strawberry"

- name: Install vlc
  apt:
    name: "vlc"


